::ng-deep {
    .panel-playground {
        display: block;
        width: auto;
        flex: 1;
        height: calc(100vh - 28px);
        position: relative;
        top: 28px;
        z-index: 0;
        margin-left: 5px;
        background-color: #E6E6E6;
        box-shadow: -1px 0 2px #000;
        overflow-x: auto;
        overflow-y: hidden;
    }
}