<div class="app-container"
  (contextmenu)="onRightClick($event)"
  (click)="onLeftClick($event)"
>
  <app-navbar class="panel-navbar"></app-navbar>
  <app-sidebar class="panel-sidebar"></app-sidebar>
  <app-playground class="panel-playground"></app-playground>

  <div class="cm context-menu"
      *ngIf="contextMenu.isVisible()"
      [style.left]="contextMenu.getMenuPositionX()"
      [style.top]="contextMenu.getMenuPositionY()"
  >
    <div class="cm item item-create-sprite" *ngIf="contextMenu.getMenuType() === 'sprites'" (click)="contextMenu.click($event, 'addItem')">Create Sprite</div>
    <div class="cm item item-create-sound" *ngIf="contextMenu.getMenuType() === 'sounds'" (click)="contextMenu.click($event, 'addItem')">Create Sound</div>
    <div class="cm item item-create-background" *ngIf="contextMenu.getMenuType() === 'backgrounds'" (click)="contextMenu.click($event, 'addItem')">Create Background</div>
    <div class="cm item item-create-model" *ngIf="contextMenu.getMenuType() === 'models'" (click)="contextMenu.click($event, 'addItem')">Create Model</div>
    <div class="cm item item-create-material" *ngIf="contextMenu.getMenuType() === 'materials'" (click)="contextMenu.click($event, 'addItem')">Create Material</div>
    <div class="cm item item-create-script" *ngIf="contextMenu.getMenuType() === 'scripts'" (click)="contextMenu.click($event, 'addItem')">Create Script</div>
    <div class="cm item item-create-font" *ngIf="contextMenu.getMenuType() === 'fonts'" (click)="contextMenu.click($event, 'addItem')">Create Font</div>
    <div class="cm item item-create-object" *ngIf="contextMenu.getMenuType() === 'objects'" (click)="contextMenu.click($event, 'addItem')">Create Object</div>
    <div class="cm item item-create-room" *ngIf="contextMenu.getMenuType() === 'rooms'" (click)="contextMenu.click($event, 'addItem')">Create Room</div>

    <div class="cm item item-duplicate"
      [class.disabled]="contextMenu.getIsGroup()"
      (click)="contextMenu.click($event, 'duplicate')"
    >Duplicate</div>

    <div class="cm" *ngIf="contextMenu.getMenuType() === 'scripts'">
      <div class="cm separator"></div><!-- --------------------------- -->
      <div class="cm item item-export-all-scripts" (click)="contextMenu.click($event, 'exportScripts')">Export All Scripts...</div>
    </div>

    <div class="cm separator"></div><!-- --------------------------- -->

    <div class="cm item item-create-group" (click)="contextMenu.click($event, 'addGroup')">Create Group</div>

    <div class="cm separator"></div><!-- --------------------------- -->

    <div class="cm item item-sort-by-name" (click)="contextMenu.click($event, 'sort')">Sort by Name</div>

    <div class="cm separator"></div><!-- --------------------------- -->

    <div class="cm item item-delete"
      [class.disabled]="contextMenu.getIsGroup()"
      (click)="contextMenu.click($event, 'delete')"
    >Delete</div>

    <div class="cm separator"></div><!-- --------------------------- -->

    <div class="cm item item-rename"
      [class.disabled]="contextMenu.getIsGroup()"
      (click)="contextMenu.click($event, 'rename')"
    >Rename</div>

    <div class="cm separator"></div><!-- --------------------------- -->

    <div class="cm item item-properties"
      [class.disabled]="contextMenu.getIsGroup()"
      (click)="contextMenu.click($event, 'settings')"
    >Properties...</div>
  </div>
</div>