<div class="resource-groups">
    <ul class="outer-group">
        <li *ngFor="let listElement of sidebarList"
            class="inner-group main-group"
            [class.expandable]="listElement.isExpandable"
            [class.open]="listElement.isOpen"
            [class.selected]="listElement.name === sidebarListInstance.getSelectedItem()"
            [class]="listElement?.uniqueClass"
            (contextmenu)="onRightClick($event, listElement.name, true)"
            (click)="onLeftClick($event, listElement.name)"
            (dblclick)="onLeftClick($event, listElement.name, true)"
        >
            <div *ngIf="listElement.list.length > 0" class="item btn-toggle"></div>
            <span class="item item-name">{{listElement.title}}</span>
            <ul class="inner-group" *ngIf="listElement.isOpen">
                <li *ngFor="let item of listElement.list"
                    class="item"
                    [attr.data-id]="item.id"
                    [attr.data-unique-id]="listElement.name + item.id"
                    [class.selected]="listElement.name + item.id === sidebarListInstance.getSelectedItem()"
                >
                    <div class="item icon-block" [style.background-image]="item.image !== null ? 'url(' + item.image + ')' : 'none'"></div>
                    <span class="item item-name">{{item.title}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>
<a href="https://tale.hu/wgm" class="logo" target="_BLANK">
    Tale.hu © Web Game Maker
</a>
<div class="panel-left-border resize"
    draggable="true"
    (dragstart)="borderResizeToggle(true)"
    (dragend)="borderResizeToggle(false)"
    (drag)="borderResize($event)"
></div>