<div class="resource-groups">
    <ul class="outer-group">
        <li *ngFor="let listElement of sidebarList"
            class="inner-group main-group"
            [class.expandable]="listElement.isExpandable"
            [class.open]="listElement.isOpen"
            [class.selected]="listElement.name === sidebarListInstance.getSelectedItem()"
            [class]="listElement?.uniqueClass"
            (contextmenu)="onRightClick($event, listElement.name, true)"
            (click)="onLeftClick($event, listElement.name)"
            (dblclick)="onLeftClick($event, listElement.name, true)"
        >
            <div class="item btn-toggle"></div>
            <span class="item item-name">{{listElement.title}}</span>
            <ul class="inner-group" *ngIf="listElement.isOpen">
                <!-- TODO dummy replacement to real listElement.list elements -->
                <li class="item" [attr.data-id]="listElement.name + '0'" [class.selected]="listElement.name + '0' === sidebarListInstance.getSelectedItem()"><div class="item icon-block" [style.background-image]="'url(/assets/images/icon_duplicate.png)'"></div><span class="item item-name">sprite0</span></li>
                <li class="item" [attr.data-id]="listElement.name + '1'" [class.selected]="listElement.name + '1' === sidebarListInstance.getSelectedItem()"><div class="item icon-block" [style.background-image]="'none'"></div><span class="item item-name">sprite1</span></li>
                <li class="item" [attr.data-id]="listElement.name + '2'" [class.selected]="listElement.name + '2' === sidebarListInstance.getSelectedItem()"><div class="item icon-block"></div><span class="item item-name">sprite2</span></li>
            </ul>
        </li>
    </ul>
</div>
<a href="https://tale.hu/wgm" class="logo" target="_BLANK">
    Tale.hu © Web Game Maker
</a>
<div class="panel-left-border resize"
    draggable="true"
    (dragstart)="borderResizeToggle(true)"
    (dragend)="borderResizeToggle(false)"
    (drag)="borderResize($event)"
></div>