<div class="modal modal-container"
    *ngFor="let modal of openModalsList, let i = index"
    [class.focus]="modal['uniqueItemId'] === getSelectedModal()"
    [class.minimized]="modal['isMinimized']"
    [class.maximized]="modal['isMaximized']"
    [attr.data-id]="modal['itemId']"
    [attr.data-group-name]="modal['groupName']"
    [attr.data-unique-id]="modal['uniqueItemId']"
    [style.left]="getModalLeftPosition(i)"
    [style.top]="getModalTopPosition(i)"
    [style.z-index]="modal['zIndex']"
>
    <div class="modal drag modal-header"
        draggable="true"
        (dragstart)="modalDragToggle($event, i, true)"
        (dragend)="modalDragToggle($event, i, false)"
        (drag)="modalDrag($event, i)"
    >
        <div class="modal drag modal-title">
            <div class="modal drag modal-icon"
                [style.background-image]="'url(' + resourceListInstance.getGroupIconImage(modal['groupName'], true) + ')'"
            ></div>
            <span class="modal drag modal-title-text">
                {{resourceListInstance.getGroupName(modal['groupName'], true)}} Properties:
                {{modal['resource'] !== null ? modal['resource']['title'] : '?'}}
            </span>
        </div>
        <div class="modal modal-buttons" draggable="true">
            <div class="modal btn btn-minimize"
                (click)="modalMinimize(i, $event)"
            >{{modal['isMinimized'] ? '&#9651;' : '&ndash;'}}</div>
            <div class="modal btn btn-maximize"
                (click)="modalMaximize(i, $event)"
            >{{modal['isMaximized'] ? '&#9713;' : '&#9723;'}}</div>
            <div class="modal btn btn-close"
                (click)="modalClose(i, $event)"
            >&times;</div>
        </div>
    </div>
    <div class="modal modal-body">
        <!-- sprites properties -->
        <div *ngIf="modal['groupName'] === 'sprites'" class="modal flex-row">
            <div class="modal col-outer flex-row">
                <div class="modal col-192 separator-r">
                    <label class="modal">
                        <span class="modal mr-8">Name:</span>
                        <input type="text" class="modal"
                            [value]="modal['resource'] !== null ? modal['resource']['title'] : ''"
                            (change)="resourceSetProperty(modal['resource'], 'title', $event)"
                            (keyup)="resourceSetProperty(modal['resource'], 'title', $event)"
                        />
                    </label>

                    <div class="modal flex-column mt-8">
                        <label class="modal button btn">
                            <img src="./assets/images/icon_open.png" alt="" class="modal" />
                            Load Sprite
                        
                            <input type="file" accept="image/png, .jpg, .jpeg"
                                class="modal"
                                (change)="resourceSetImageUrl(modal['resource'], 'details.url', $event)"
                            />
                        </label>

                        <button type="button" class="modal btn mt-8">
                            <img src="./assets/images/icon_save.png" alt="" class="modal" />
                            Save Sprite
                        </button>

                        <button type="button" class="modal btn mt-8">
                            <img src="./assets/images/icon_background.png" alt="" class="modal" />
                            Edit Sprite
                        </button>
                    </div>

                    <div class="modal flex-column mt-16">
                        <div class="modal flex-row-evenly">
                            <span class="modal">Width:
                                <span>{{ getPropertyByString(modal['resource'], 'details.width') ?? 0 }}</span>
                            </span>
                            <span class="modal">Height: 
                                <span>{{ getPropertyByString(modal['resource'], 'details.height') ?? 0 }}</span>
                            </span>
                        </div>
                        <span class="modal mt-4">Number of subimages: 
                            <span>{{ getPropertyByString(modal['resource'], 'details.subimages.count') ?? 0 }}</span>
                        </span>
                    </div>

                    <div class="modal flex-column mt-64">
                        <fieldset class="modal col-fieldset">
                            <legend class="modal">Origin:</legend>
                            <div class="modal flex-row-evenly">
                                <span class="modal">
                                    X <input type="number" class="modal small-number-input"
                                        [value]="modal['resource'] !== null ? modal['resource']['details']['origin']['x'] : ''"
                                        (change)="resourceSetProperty(modal['resource'], 'details.origin.x', $event)"
                                        (keyup)="resourceSetProperty(modal['resource'], 'details.origin.x', $event)"
                                    />
                                </span>
                                <span class="modal">
                                    Y <input type="number" class="modal small-number-input"
                                        [value]="modal['resource'] !== null ? modal['resource']['details']['origin']['y'] : ''"
                                        (change)="resourceSetProperty(modal['resource'], 'details.origin.y', $event)"
                                        (keyup)="resourceSetProperty(modal['resource'], 'details.origin.y', $event)"
                                    />
                                </span>
                            </div>
                            <button type="button" class="modal btn btn-small mt-8"
                                (click)="resourceSetOrigin(modal['resource'], 'details')"
                            >
                                Center
                            </button>
                        </fieldset>
                    </div>

                    <button type="button" class="modal btn btn-primary mt-8"
                        (click)="modalClose(i, $event)"
                    >
                        <img src="./assets/images/icon_okay.png" alt="" class="modal" />
                        OK
                    </button>
                </div>
                <div class="modal col-192">
                    <div class="modal flex-column">
                        <fieldset class="modal col-fieldset w-full">
                            <legend class="modal">Collision Checking:</legend>
                            <div class="modal flex-column align-start">
                                <label class="modal">
                                    <input type="checkbox" class="modal" checked />
                                    <span class="modal">Precise collision checking</span>
                                </label>
                                <label class="modal mt-8">
                                    <input type="checkbox" class="modal" />
                                    <span class="modal">Separate collision masks</span>
                                </label>
                            </div>
                            <button type="button" class="modal btn mt-32">
                                <img src="./assets/images/icon_settings.png" alt="" class="modal" />
                                Modify Mask
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="modal col-outer flex-row flex-fit-width align-start justify-start p-0">
                <div class="modal preview-block">
                    <img
                        [src]="getPropertyByString(modal['resource'], 'details.image.src')"
                        alt="" 
                    />
                </div>
            </div>
        </div>

        <!-- TODO other resources properties -->
    </div>
</div>
