<div class="modal modal-container"
    *ngFor="let modal of openModalsList, let i = index"
    [attr.data-id]="modal['itemId']"
    [attr.data-group-name]="modal['groupName']"
    [attr.data-unique-id]="modal['uniqueItemId']"
    [style.left]="getModalLeftPosition(i)"
    [style.top]="getModalTopPosition(i)"
    [style.z-index]="modal['zIndex']"
>
    <div class="modal drag modal-header"
        draggable="true"
        (dragstart)="modalDragToggle($event, i, true)"
        (dragend)="modalDragToggle($event, i, false)"
        (drag)="modalDrag($event, i)"
    >
        <div class="modal drag modal-title">
            <div class="modal drag modal-icon"
                [style.background-image]="'url(' + resourceListInstance.getGroupIconImage(modal['groupName'], true) + ')'"
            ></div>
            <span class="modal drag modal-title-text">
                {{resourceListInstance.getGroupName(modal['groupName'], true)}} Properties:
                {{'TODO item_name'}}
            </span>
        </div>
        <div class="modal modal-buttons" draggable="true">
            <div class="modal btn btn-minimize">_</div>
            <div class="modal btn btn-maximize">=</div>
            <div class="modal btn btn-close"
                (click)="modalClose(i)"
            >&times;</div>
        </div>
    </div>
    <div class="modal modal-body">
        jee
    </div>
</div>
